
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="section-heading">Voluntários | Instituição</h2>
            <p class="text-faded">Instituição - Basta preencher os dados referentes à instituição e evidenciar seus propósitos, à medida que os estudantes se interessarem e contatarem por meio do site, é só entrar em contato direto com os mesmos.</p>
            <p class="text-faded">
                Voluntários - Para se cadastrar, é só preencher todos seus dados, para que as empresas possam encontrá-los mais facilmente. A empresa entrará direto em contato com você para esclarecer suas necessidades e combinar todos os detalhes.
            </p>
            <div class="form-group">
                <a href="~/Home/cadastrovoluntario#about" class="btn btn-default btn-xl">Cadastrar-se como Voluntário</a>
            </div>
            <div class="form-group">
                <a href="~/Home/cadastroempresa#about" class="btn btn-default btn-xl">Cadastrar-se como Instituição</a>
            </div>
        </div>
    </div>
</div>

